<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • San Jose</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideSanJose"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{1SanJose.Titulo}">Hoteles en San José</h1>
        <br><br><br><br><br>

        <h2>  Barceló San José  </h2>

        <figure class="image2 fade">
            <img src="Imagenes/1SanJose1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1SJ}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>  Radisson Hotel San José  </h2>

        <figure class="image2 fade">
            <img src="Imagenes/1SanJose2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2SJ}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>  Wyndham Garden San José Escazú  </h2>
        <figure class="image2 fade">
            <img src="Imagenes/1SanJose3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3SJ}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>
</body>

<header th:replace="layout/plantilla :: headerSanJose"></header> 

<br><br><br><br>

<footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>