<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • Alajuela</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideAlajuela"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{2Alajuela.Titulo}">Hoteles en Alajuela</h1>


        <br><br><br><br><br>

        <h2>  Hampton Inn & Suites San Jose Airport   </h2>

        <figure class="image2 fade">
            <img src="Imagenes/2Alajuela1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1A}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>  Hotel Brillasol Airport  </h2>

        <figure class="image2 fade">
            <img src="Imagenes/2Alajuela2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2A}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>


        <br><br><br><br><br>

        <h2>  Courtyard by Marriott San Jose Airport Alajuela </h2>

        <figure class="image2 fade">
            <img src="Imagenes/2Alajuela3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3A}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>

    <header th:replace="layout/plantilla :: headerSanJose"></header> 

    <br><br><br><br>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>
