<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • Cartago</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideCartago"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{3Cartago.Titulo}">Hoteles en Cartago</h1>

        <br><br><br><br><br>

        <h2>  Bella Vista Ranch Ecolodge   </h2>
        
        <figure class="image2 fade">
            <img src="Imagenes/3Cartago1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1C}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>    Orosi Lodge  </h2>
        
        <figure class="image2 fade">
            <img src="Imagenes/3Cartago2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2C}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>  Cabañas y Mirador Secret Garden CR </h2>
        
        <figure class="image2 fade">
            <img src="Imagenes/3Cartago3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3C}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>

    <header th:replace="layout/plantilla :: headerSanJose"></header> 

    <br><br><br><br>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>
