<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • Heredia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideHeredia"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{4Heredia.Titulo}">Hoteles en Heredia</h1>

        <br><br><br><br><br>

        <h2>  Hotel Cibeles Resort   </h2>

        <figure class="image2 fade">
            <img src="Imagenes/4Heredia1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1H}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>    Hotel Valladolid  </h2>

        <figure class="image2 fade">
            <img src="Imagenes/4Heredia2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2H}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>  Finca Rosa Blanca Coffee Farm and Inn </h2>

        <figure class="image2 fade">
            <img src="Imagenes/4Heredia3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3H}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>

    <header th:replace="layout/plantilla :: headerSanJose"></header> 

    <br><br><br><br>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>