<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • Guanacaste</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideGuanacaste"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{6Guanacaste.Titulo}">Hoteles en Guanacaste</h1>

        <br><br><br><br><br>

        <h2>  Hotel Samara Palm Lodge    </h2>

        <figure class="image2 fade">
            <img src="Imagenes/6Guanacaste1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1G}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>    Lodge Las Estrellas de Samara </h2>

        <figure class="image2 fade">
            <img src="Imagenes/6Guanacaste2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2G}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>   The Nomadic Hotel </h2>

        <figure class="image2 fade">
            <img src="Imagenes/6Guanacaste3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3G}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>

    <header th:replace="layout/plantilla :: headerSanJose"></header> 

    <br><br><br><br>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>
