<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • Limon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideLimon"></aside> 

    <body class="body2">

    <center>

        <br><h1 class="Titulo" th:text="#{7Limon.Titulo}">Hoteles en Limón</h1>

        <br><br><br><br><br>

        <h2>  Awa Beach Boutique Hotel    </h2>

        <figure class="image2 fade">
            <img src="Imagenes/7Limon1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1L}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>    Sonora Jungle & Yoga Retreat</h2>

        <figure class="image2 fade">
            <img src="Imagenes/7Limon2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2L}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

        <br><br><br><br><br>

        <h2>   Ecolirios Boutique Hotel and Spa </h2>

        <figure class="image2 fade">
            <img src="Imagenes/7Limon3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3L}" class="figcap2" th:text="#{image.figcaption1}">Visitar Hotel</a></figcaption>
        </figure>

    </center>

    <header th:replace="layout/plantilla :: headerSanJose"></header> 

    <br><br><br><br>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>
