<html>
    <head>
        <title>ReservaTrip • Hampton Inn & Suites San Jose Airport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideAlajuela2"></aside> 

    <body class="body2">
        
        <center>
        
        <h1>Hampton Inn & Suites San Jose Airport</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/2Alajuela1.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HAlajuela1.descripcion1}">El Hampton Inn ofrece habitaciones modernas a sólo 1,5 km del aeropuerto internacional de </p>
            <p class="descripHotel" th:text="#{HAlajuela1.descripcion2}">San José. Cuenta con una gran piscina y un gimnasio, así como conexión Wi-Fi de cortesía </p>
            <p class="descripHotel" th:text="#{HAlajuela1.descripcion3}">y servicio gratuito de traslado al aeropuerto. </p>
            
            <br><br>
            
            <p th:text="#{HAlajuela1.PN}">Precio por noche: CRC 81.633</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/hampton-inn-suites-san-jose-airport.es.html?aid=306396;label=alajuela-6S1V8d6PdI7u3OP0SgqqTgS525510334737%3Apl%3Ata%3Ap155%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-1691301481%3Alp1003673%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YdnZzv7u3SiOco5fpqS0M1M;sid=39cb49e29eeed4a1bf9ac1399a0a166d" th:text="#{H.PH}">Pagina del hotel</a>
            
            <br><br>
            <center>
           
            <section sec:authorize="hasRole('ROLE_admin')" th:replace="layout/plantilla :: botonesAgregar"/>
            <section sec:authorize="hasRole('ROLE_client')" th:replace="layout/plantilla :: botonesAgregar2"/>
            <section sec:authorize="hasRole('ROLE_user')" th:replace="layout/plantilla :: cambio"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            
            <br><br><br><br><br><br>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.177294923256!2d-84.19745318480136!3d10.002209475739631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f98e09b18281%3A0xbc0686749c35c017!2sHampton%20por%20Hilton!5e0!3m2!1ses-419!2scr!4v1649115872584!5m2!1ses-419!2scr" 
                    width="700" height="550" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel" th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

    <header th:replace="layout/plantilla :: headerAlajuelaHotel"></header> 


    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>

