<html>
    <head>
        <title>ReservaTrip • Orosi Lodge</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideCartago2"></aside> 

    <body class="body2">
        
        <center>
        
        <h1>Orosi Lodge</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/3Cartago2.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HCartago2.descripcion1}"> El Orosi Lodge se encuentra a 5 minutos en coche de la plaza principal de Orosi y a 15 km </p>
            <p class="descripHotel" th:text="#{HCartago2.descripcion2}">del centro de la ciudad de Cartago. Ofrece conexión WiFi gratuita en todas las instalaciones.</p>
            
            <br><br>
            
            <p th:text="#{HCartago2.PN}">Precio por noche: CRC 42.427</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/orosi-lodge.es.html?aid=335794;label=cartago-61EjhZqPqKCjIvgnouSCcwS388385263149%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-1110454565467%3Akwd-3519445740%3Alp1003673%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcGt_tphEo8pIl_maCbfiNw;sid=dafba526f5e1753d7cecefa59d723a62;dest_id=-1108288;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1649116648;srpvid=2062a8735c0d0067;type=total;ucfs=1&#hotelTmpl"th:text="#{H.PH}">Pagina del hotel</a>
           
            <br><br>
            
            <section th:replace="layout/plantilla :: botonesAgregar"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3931.659187132913!2d-83.85719343480206!3d9.794877379218894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1211451d02179%3A0xca1c73ba8539b563!2sOrosi%20Valley%20Lodge!5e0!3m2!1ses-419!2scr!4v1649116610673!5m2!1ses-419!2scr" 
                   width="700" height="550" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel" th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

    <header th:replace="layout/plantilla :: headerCartagoHotel"></header> 

    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>