<html>
    <head>
        <title>ReservaTrip • The Nomadic Hotel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideGuanacaste2"></aside> 
    
    <body class="body2">
        
        <center>
        
        <h1>The Nomadic Hotel</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/6Guanacaste3.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HGuanacaste3.descripcion1}">The Nomadic Hotel goza de una ubicación céntrica en Playa Guiones, Nosara, en Costa Rica, </p>
            <p class="descripHotel" th:text="#{HGuanacaste3.descripcion2}">a 5 minutos a pie del punto de surf y de la playa. Cada mañana se sirve un desayuno gratuito.</p>
            
            <br><br>
            
            <p th:text="#{HGuanacaste3.PN}">Precio por noche: CRC 63.640</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/the-nomadic.es.html?aid=356980;label=gog235jc-1DCAYoM0IKZ3VhbmFjYXN0ZUgKWANoM4gBAZgBCrgBGMgBDNgBA-gBAfgBAogCAagCBLgC_c7IkQbAAgHSAiRkZTE1MjhmMi03MzA2LTRiMGItYTkxZC0yOTEyMGUxMTI5NDTYAgTgAgE;sid=39cb49e29eeed4a1bf9ac1399a0a166d"th:text="#{H.PH}">Pagina del hotel</a>
           
            <br><br>
            
            <section sec:authorize="hasRole('ROLE_admin')" th:replace="layout/plantilla :: botonesAgregar"/>
            <section sec:authorize="hasRole('ROLE_client')" th:replace="layout/plantilla :: botonesAgregar2"/>
            <section sec:authorize="hasRole('ROLE_user')" th:replace="layout/plantilla :: cambio"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.850764063457!2d-85.66846938480157!3d9.94637227668344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e5414838c8ceb%3A0xfef28d381cca2155!2sThe%20Nomadic!5e0!3m2!1ses-419!2scr!4v1649118404405!5m2!1ses-419!2scr"
                   width="700" height="550" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel"th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

    <header th:replace="layout/plantilla :: headerGuanacasteHotel"></header> 

    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>
