<html>
    <head>
        <title>ReservaTrip • Ecolirios Boutique Hotel and Spa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideLimon2"></aside> 
    
    <body class="body2">
        
        <center>
        
        <h1>Ecolirios Boutique Hotel and Spa</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/7Limon3.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HLimon3.descripcion1}">El Ecolirios Boutique Hotel and Spa se encuentra en Guácimo y ofrece restaurante, bar,</p>
            <p class="descripHotel" th:text="#{HLimon3.descripcion2}">jardín y WiFi gratuita en todas las instalaciones. Ofrece habitaciones familiares y terraza.</p>
            
            <br><br>
            
            <p th:text="#{HLimon3.PN}">Precio por noche: CRC 162.713</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/ecolirios-boutique-and-spa.es.html?aid=356980;label=gog235jc-1DCAYoM0IFbGltb25IClgDaDOIAQGYAQq4ARjIAQzYAQPoAQH4AQKIAgGoAgS4ArHQyJEGwAIB0gIkMDkwMjhhZmEtZmYwNC00YjExLTg5ODYtYzc2Y2YxY2MyNTVk2AIE4AIB;sid=39cb49e29eeed4a1bf9ac1399a0a166d"th:text="#{H.PH}">Pagina del hotel</a>
           
            <br><br>
            
            <section sec:authorize="hasRole('ROLE_admin')" th:replace="layout/plantilla :: botonesAgregar"/>
            <section sec:authorize="hasRole('ROLE_client')" th:replace="layout/plantilla :: botonesAgregar2"/>
            <section sec:authorize="hasRole('ROLE_user')" th:replace="layout/plantilla :: cambio"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.6940819213655!2d-83.70011868480097!3d10.124107473661908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0b60132002a0f%3A0xbfee9424a40482ee!2sEcolirios%20Boutique%20Hotel%20and%20Spa!5e0!3m2!1ses-419!2scr!4v1649118720051!5m2!1ses-419!2scr" 
                   width="700" height="550" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel"th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

    <header th:replace="layout/plantilla :: headerLimonHotel"></header> 

    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>
