<html>
    <head>
        <title>ReservaTrip • Hotel Mar y Mar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asidePuntarenas2"></aside> 

    <body class="body2">
        
        <center>
        
        <h1>Hotel Mar y Mar</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/5Puntarenas3.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HPuntarenas3.descripcion1}">El Hotel Mar y Mar se encuentra en Puntarenas, a 3,6 km del parque marino del Pacífico, y </p>
            <p class="descripHotel" th:text="#{HPuntarenas3.descripcion2}">ofrece alojamiento frente al mar, restaurante, bar y jardín. También cuenta con mostrador de</p>
            <p class="descripHotel" th:text="#{HPuntarenas3.descripcion3}">información turística y piscina al aire libre. Las habitaciones tienen aire acondicionado, vistas </p>
            <p class="descripHotel" th:text="#{HPuntarenas3.descripcion4}">a la piscina, armario y WiFi gratuita.</p>
            
            <br><br>
            
            <p th:text="#{HPuntarenas3.PN}">Precio por noche: CRC 30.856</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/cabinas-mar-y-mar.es.html?aid=306396;label=puntarenas-gDFTSYcmeGq0SgDW_pGRxQS199769431676%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-4193919039%3Alp1003673%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YdnZzv7u3SiOco5fpqS0M1M;sid=39cb49e29eeed4a1bf9ac1399a0a166d"th:text="#{H.PH}">Pagina del hotel</a>
           
            <br><br>
            
            <section sec:authorize="hasRole('ROLE_admin')" th:replace="layout/plantilla :: botonesAgregar"/>
            <section sec:authorize="hasRole('ROLE_client')" th:replace="layout/plantilla :: botonesAgregar2"/>
            <section sec:authorize="hasRole('ROLE_user')" th:replace="layout/plantilla :: cambio"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.431543859469!2d-84.80538488480147!3d9.981166076095924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa02e44dce69d57%3A0x74b1fb4920d6bee0!2sMar%20y%20Mar!5e0!3m2!1ses-419!2scr!4v1649117714640!5m2!1ses-419!2scr" 
                   width="700" height="550" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel" th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

    <header th:replace="layout/plantilla :: headerPuntarenasHotel"></header> 

    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>
