<html>
    <head>
        <title>ReservaTrip • Wyndham Garden San José Escazú</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <aside th:replace="layout/plantilla :: asideSanJose2"></aside> 
    
    <body class="body2">
        
        <center>
        
        <h1>Wyndham Garden San José Escazú</h1>
        
        <br>

        <section>
            
            <video width="900" height="600" controls autoplay muted>
                <source src="Imagenes/videos/1SanJose3.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel" th:text="#{HSanJose3.descripcion1}">Este hotel se encuentra a 5 minutos en coche del parque metropolitano La Sabana y del centro</p>
            <p class="descripHotel" th:text="#{HSanJose3.descripcion2}">comercial Multiplaza y dispone de piscina cubierta, terraza, bañera de hidromasaje y WiFi de</p>
            <p class="descripHotel" th:text="#{HSanJose3.descripcion3}">alta velocidad.</p>
            
            <br><br>
            
            <p th:text="#{HSanJose3.PN}">Precio por noche: CRC 61.712</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.guestreservations.com/wyndham-garden-san-jose-silicon-valley/booking?gclid=CjwKCAjwlcaRBhBYEiwAK341jZk7CZpXxjN-MBq3dcjno5CAD5NBEdWwmlWLFi1GNRftyQD_kcJRrRoCFkAQAvD_BwE" th:text="#{H.PH}">Pagina del hotel</a>
            
            <br><br>
            
            <section sec:authorize="hasRole('ROLE_admin')" th:replace="layout/plantilla :: botonesAgregar"/>
            <section sec:authorize="hasRole('ROLE_client')" th:replace="layout/plantilla :: botonesAgregar2"/>
            <section sec:authorize="hasRole('ROLE_user')" th:replace="layout/plantilla :: cambio"/>
            <section th:replace="layout/plantilla :: agregarCliente"/>
            <br><br><br><br><br><br>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.968734801366!2d-84.1329641848016!3d9.93655937684872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fc82575ee9d5%3A0xfee5053187aca4ee!2sWyndham%20Garden%20Escaz%C3%BA!5e0!3m2!1ses-419!2scr!4v1649115720017!5m2!1ses-419!2scr"
                    width="700" height="550" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel" th:text="#{H.Ubicanos}">¡Ubicanos!</p>
        </section>


    </center>

        <header th:replace="layout/plantilla :: headerSanJoseHotel"></header> 

    <br><br><br><br>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>
